#header { font-size: 4.0em ;
          margin-left: 675px ;
          margin-right: 500px ;	}
		  
.infobox { width: 500px ; }

.container { width: 500px ;
            text-align: center ;
			border: 2px ;
            border-style: solid ;	}
			
#flooby { margin-left: 540px }
            